<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Controller</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
<div class="header">
    <h1>Noah's Notes Main</h1>
</div>
<div class="navbar">
  <input class="btn" type="submit" value="Refresh" onclick="window.location='http://noahsnotes.ddns.net:5000/main/';"></input>
  <form action="#" method="post">
    <div class="body">
      <input type="text" name="setlist" placeholder="New Setlist"/>
    </div>
    <p><input class="btn" type="submit" value="Submit" /></p>
  </form>
</div>
<div>
  <div class="body">
    <h2>Setlists</h2>
    <table class="table">
      <tr class="table__header">
        {% for header in nav_headings %}
        <th class = "table__cell">{{ header }}</th>
        {% endfor %}
      </tr>
      {% for row in nav_data %}
      <tr class="table__row">
        {% for cell in row %}
        <td class="table__cell">{{ cell }}</td>
        <td>
          <input class="btn" type="submit" value="Open" onclick="window.location='http://noahsnotes.ddns.net:5000/open/?setlist={{cell}}';"></input>
          <input class="btn" type="submit" value="Delete" onclick="window.location='http://noahsnotes.ddns.net:5000/main?delete={{ cell }}';"/>
          </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<div class="footer">
    &copy; Noah's Notes Firefly
</div>
</body>
</html>
